{{ define "main" }}
<div id="content_wrapper" class="h-full flex overflow-x-auto">
    <img id="cover_image" src="{{ .Permalink }}/{{ .Params.thumbnail }}" alt="{{ .Title }} cover image." class="h-full w-[calc(100vw/4)] object-cover">
    <div class="flex-1 ml-8 max-h-full grid grid-rows-auto-1fr">
        <p class="text-7xl mb-14 mt-2 font-italiana-regular overflow-x-visible whitespace-nowrap">{{ .Title | upper }}</p>
        <div id="content_container" class="min-h-full flex-grow">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
