{{ define "main" }}
<div class="h-full w-dvw mx-auto categories-container">
    {{ $related := where .Site.RegularPages "Section" "architecture" }}
    {{ $sortedPages := $related.ByParam "order" }}
    {{ range $sortedPages }}
        {{ .Render "li"}}
    {{ end }}
</div>

<a id="screen-effect" href=".."></a>

<div id="pop-up overflow-x-scroll">
    <div id="content_wrapper">
        <img id="cover_image" src="{{ .Params.thumbnail }}" alt="{{ .Title }} cover image." class="h-full object-cover">
        <div id="content_box">
            <p id="page_title" class="font-italiana-regular">{{ .Title | upper }}</p>
            <div id="content_container" class="min-h-0">
                {{ partial "content" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}
