#background-slideshow {
  width: 100dvw;
  min-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  #background-slideshow img {
    width: 100dvw;
    height: 100dvh;
    -o-object-fit: cover;
       object-fit: cover; }
