@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f6f4f2;
}

/* hide scrollbar for all browsers */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}