@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f6f4f2;
}

.font-italiana-regular {
    font-family:'Italiana', sans-serif;
    font-weight: 400;
}

.header-color {
    background-color: #E6E6E6;
    opacity: 0.85;
}

/* hide scrollbar for all browsers */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 767px) {
    .photography-header-link {
        display: none;
    }
}

.contact-me {
    margin-left: auto;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}