@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-italiana-regular {
    font-family:'Italiana', sans-serif;
    font-weight: 400;
}

#content_container {
    margin: 1rem;
    display: grid;
    grid-template-rows: 100%;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 50ch;

    p {
        margin-bottom: 1rem;
        font-family: monospace;
        font-size: 1rem;
    }
    
    section:has(> img.landscape) {
        grid-column: span 2;
    }

    * img {
        object-fit: cover;
        height: 100%;
        margin: auto;
    }
    
    * img[aspect-ratio = "16/9"] {
        grid-column: span 2;
    }
}

#content_wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: calc(100dvw/4) auto;
}

.grid-rows-auto-1fr {
    grid-template-rows: auto 1fr;
}