// Non-Mobile
@media (min-width: 768px) {
    #screen-effect {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    #pop-up {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80dvh;
        width: 85dvw;
        z-index: 100;
        background-color: whitesmoke;
        overflow: auto;
        border-radius: 1rem;
    }

    #content_box {
        height: 100%;
        min-width: max-content;
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }


    #content_container {
        margin-left: 1rem;
        margin-right: 1rem;

        padding-bottom: 1rem;
        
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 1rem;

        p {
            margin-top: 1rem;
            font-family: monospace;
            font-size: 1rem;
            max-width: 50ch;
        }

        img.landscape {
            flex: 2 1 auto;
        }

        img {
            object-fit: cover;
            height: 100%;
            margin: 0;
        }
    }

    #page_title {
        font-size: 4.5rem /* 72px */;
        line-height: 1;
        margin-bottom: 0.5rem /* 24px */;
        margin-top: 0.5rem /* 8px */;
        padding-left: 0.5rem /* 8px */;
        white-space: nowrap;
        
        position: sticky;
        width: 100px;
        top: 0;
        left: 0;
        align-self: start;
    }
}

// Mobile
@media (max-width: 767px) {
    #page_title {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    #content_wrapper {
        width: 100dvw;
    }

    #content_box {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #content_container {
        img {
            margin-bottom: 1rem;
        }

        section {
            margin-bottom: 1rem;

            p {
                text-align: center;
            }
        }
    }
    
    #cover_image {
        display: none;
    }
}