@media (min-width: 768px) {
    .categories-container {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
        padding: 1rem;

        .category-thumbnail {
            height: 75%; // Default height
            min-width: 15%; // You can adjust the width as needed
            max-width: 350px; // You can adjust the width as needed

            background-color: #f3f3f3; // Placeholder background color
            border-radius: 5px;

            overflow: hidden;
            position: relative;

            &:nth-child(odd) {
                height: 80%;
            }
        
            &:nth-child(even) {
                height: 70%;
            }
        
            &:nth-child(3n) {
                height: 85%;
            }

            .category-title {
                text-align: center;
                margin-left: auto; 
                margin-right: auto; 

                font-size: 2.5rem;
                font-weight: bold;
                color: #03543f;

                position: absolute;
                top: 40%;
                left: 0;
                bottom: 0;
                width: 100%;
                
                opacity: 0;
                -webkit-filter: blur(2px);
                filter: blur(2px);
            }

            * {
                transition: all 0.2s ease-in-out;
            }

            &:hover .category-title {
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }

            &:hover img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
    }
}

@media (pointer: coarse) {
    .category-thumbnail .category-title {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

// Mobile
@media (max-width: 769px) {
    .categories-container {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        gap: 1rem;
        // align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        padding: 0;

        .category-thumbnail {
            scroll-snap-align: center;
            height: 85% !important;
            min-width: 80dvw;
            margin-top: 1rem;

            img {
                aspect-ratio: 2 / 3;
                border-radius: 5px;
            }

            .category-title {
                font-size: 2rem;
                line-height: 1;
                text-align: center;
            }
        }
    }
}