// Mobile
@media (max-width: 769px) {
    .categories-container {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        gap: 1rem;
        align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        padding: 0;

        .category-thumbnail {
            scroll-snap-align: center;
            min-width: 85dvw !important;
            aspect-ratio: 2 / 3;

            img {
                aspect-ratio: 2 / 3;
                border-radius: 5px;
            }

            .category-title {
                font-size: 2rem;
                line-height: 1;
                text-align: center;
            }
        }
    }
}