<head>
  <title>{{ .Title }} | {{ $.Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta name="description" content="Photography and Architecture website.">
  
  {{/*  CSS  */}}
  {{ $style := resources.Get "css/base.scss" | toCSS | postCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

  {{ $style := resources.Get "css/home_page.scss" | toCSS | postCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

  {{ $style := resources.Get "css/photography_single.scss" | toCSS | postCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

  {{ $style := resources.Get "css/photography_list.scss" | toCSS | postCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

  {{/*  INSTALL FLOWBITE  */}}  
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js" defer></script>

  
  {{/*  INSTALL GSAP  */}}
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>

  {{/*  SCRIPTS  */}}
  {{ $script := resources.Get "js/horizontal_scroller.js" }}
  <script src="{{ $script.Permalink }}" defer></script>

  {{ $script := resources.Get "js/landscape_image_setter.js" }}
  <script src="{{ $script.Permalink }}" defer></script>

  {{ $script := resources.Get "js/infinite_caroussel.js" }}
  <script src="{{ $script.Permalink }}" defer></script>

  {{ $script := resources.Get "js/home_page.js" }}
  <script src="{{ $script.Permalink }}" defer></script>
</head>