<div class="header-color h-16 w-dvw flex items-center justify-start sticky left-0">
    {{ $logo := resources.Get "images/logos/curto_branco.png" }}
    <a class="px-4" href="{{ .Site.BaseURL }}">
        <img src="{{ $logo.Permalink }} " style="height: 150px; width: auto;" alt="My logo!">
    </a>

    {{ if eq .Section "architecture"}}
        <a class="px-4 header-link header-link-current text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/architecture">Architecture</a>
    {{ else }}
        <a class="px-4 header-link text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/architecture">Architecture</a>
    {{ end }}
    
    {{ if eq .Section "photography"}}
        <a class="px-4 header-link header-link-current text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/photography">Photography</a>
    {{ else }}
        <a class="px-4 header-link text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/photography">Photography</a>
    {{ end }}
    
    {{ if eq .Title "About Me"}}
        <a class="px-4 header-link header-link-current text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/about">About Me</a>
    {{ else }}
        <a class="px-4 header-link text-white font-italiana-regular text-xl" href="{{ .Site.BaseURL }}/about">About Me</a>
    {{ end }}

    {{/*  <div class="contact-me flex">
        {{ $email := resources.Get "images/email.png" }}
        <a class="px-4" href="mailto:a_calheiros@hotmail.com">
            <img src="{{ $email.Permalink }}" alt="Email me!">
        </a>

        {{ $insta := resources.Get "images/insta.png" }}
        <a class="px-4" href="https://www.instagram.com/ana_calheiros">
            <img src="{{ $insta.Permalink }}" alt="Instagram">
        </a>
    </div>  */}}
</div>