{{ define "main" }}
<div id="background-overlay"></div>
<div id="background-slideshow" class="overflow-hidden" data-carousel="slide">
  <!-- Item 1 -->
  {{ $image := resources.Get "images/sample-1.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 2 -->
  {{ $image := resources.Get "images/sample-2.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 3 -->
  {{ $image := resources.Get "images/sample-3.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 4 -->
  {{ $image := resources.Get "images/sample-4.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
</div>

<div class="flex items-center justify-center h-screen mx-auto w-screen">
  <div class="flex flex-col items-center">
    <svg width="80" height="52" viewBox="0 0 80 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M27.5 3L54.7798 50.25H0.220215L27.5 3Z" fill="#FF6060"/>
      <path d="M80 26C80 40.3594 68.3594 52 54 52C39.6406 52 28 40.3594 28 26C28 11.6406 39.6406 0 54 0C68.3594 0 80 11.6406 80 26Z" fill="#78E0AF"/>
    </svg>
    <h1 class="source-serif-4 text-7xl font-bold text-white text-center">COMMING SOON</h1>
  </div>
</div>


<div id="homepage_container" class="grid grid-cols-1 justify-center h-screen">
  <div>
    <!--
    <a href="{{ .Site.BaseURL }}/architecture" class="font-italiana-regular text-2xl text-white" style="position: absolute; left: 0; top: 50%; transform: translateX(-30%) rotate(90deg);">Architecture</a>
    -->
  </div>
  <div>
    <!--
    <a href="{{ .Site.BaseURL }}/photography" class="font-italiana-regular text-2xl text-white" style="position: absolute; right: 0; top: 50%; transform: translateX(30%) rotate(-90deg);">Photography</a>
    -->
  </div>
  <div>
    <!--
    <a href="{{ .Site.BaseURL }}/about" class="font-italiana-regular text-2xl text-white" style="position: absolute; bottom: 0; left: 50%; transform: translateY(-20%) translateX(-50%);">About Me</a>
    -->
  </div>
</div>
{{ end }}