{{ define "main" }}
{{ $desktopVideo := resources.Get "videos/gigi_placeholder.mp4" }}
{{ $mobileVideo  := resources.Get "videos/gigi_placeholder.mp4" }}

<div id="background-overlay"></div>
<!-- Video Background Container -->
<div id="background-video" class="inset-0 z-0 overflow-hidden">
  <!-- Desktop Video -->
  <video autoplay loop muted playsinline
    class="hidden sm:block absolute top-0 left-0 w-full h-full object-cover"
    poster="{{ $desktopVideo.RelPermalink }}?width=1920&quality=70">
    <source src="{{ $desktopVideo.RelPermalink }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!-- Mobile Video -->
  <video autoplay loop muted playsinline
    class="block sm:hidden absolute top-0 left-0 w-full h-full object-cover"
    poster="{{ $mobileVideo.RelPermalink }}?width=640&quality=70">
    <source src="{{ $mobileVideo.RelPermalink }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<div id="homepage_container" class="grid grid-cols-1 justify-center h-screen">
  <div>
    <!-- Link for architecture content -->
    <a href="{{ .Site.BaseURL }}/architecture" class="font-italiana-regular text-2xl text-white" style="position: absolute; left: 0; top: 50%; transform: translateX(-30%) rotate(90deg);">Architecture</a>
  </div>
  <div>
    <!-- Link for photography content -->
    <a href="{{ .Site.BaseURL }}/photography" class="font-italiana-regular text-2xl text-white" style="position: absolute; right: 0; top: 50%; transform: translateX(30%) rotate(-90deg);">Photography</a>
  </div>
  <div>
    <!-- Link for about me content -->
    <a href="{{ .Site.BaseURL }}/about" class="font-italiana-regular text-2xl text-white" style="position: absolute; bottom: 0; left: 50%; transform: translateY(-20%) translateX(-50%);">About Me</a>
  </div>
</div>
{{ end }}