{{ define "main" }}
<div id="background-overlay"></div>
<div id="background-slideshow" class="overflow-hidden" data-carousel="slide">
  <!-- Item 1 -->
  {{ $image := resources.Get "images/sample-1.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 2 -->
  {{ $image := resources.Get "images/sample-2.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 3 -->
  {{ $image := resources.Get "images/sample-3.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  <!-- Item 4 -->
  {{ $image := resources.Get "images/sample-4.jpg" }}
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img src="{{ $image.Permalink }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
</div>

<div id="homepage_container" class="grid grid-cols-1 justify-center h-screen">
  <div>
    <!-- Link for architecture content -->
    <a href="{{ .Site.BaseURL }}/architecture" class="font-italiana-regular text-2xl text-white" style="position: absolute; left: 0; top: 50%; transform: translateX(-30%) rotate(90deg);">Architecture</a>
  </div>
  <div>
    <!-- Link for photography content -->
    <a href="{{ .Site.BaseURL }}/photography" class="font-italiana-regular text-2xl text-white" style="position: absolute; right: 0; top: 50%; transform: translateX(30%) rotate(-90deg);">Photography</a>
  </div>
  <div>
    <!-- Link for about me content -->
    <a href="{{ .Site.BaseURL }}/about" class="font-italiana-regular text-2xl text-white" style="position: absolute; bottom: 0; left: 50%; transform: translateY(-20%) translateX(-50%);">About Me</a>
  </div>
</div>
{{ end }}